<ul class="nav navbar-nav">
   
    <li>@Html.ActionLink("Topic Year", "Index", "Topic")</li>
   

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create Accounts <span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Student", "Index", "Students")</li>
            <li>@Html.ActionLink("Marketing Coordinator", "Index", "MarketingCoordinators")</li>
            <li>@Html.ActionLink("Guest", "Index", "Guest")</li>
            <li>@Html.ActionLink("Marketing Manager", "Index", "MarketingManager")</li>
        </ul>
    </li>
</ul>

