@model WebEnterprise.Models.Content

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name2)
        </dt>

        <dd>

            @if (Model.Data2 != null)
            {
                var base64 = Convert.ToBase64String(Model.Data2);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgsrc" width="150" height="200" />
            }
            else
            {
                <img src="~/images/default.jpg"
                     style="max-width:100px;max-height:100px" />
            }


        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CTName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CTID }) |
    @Html.ActionLink("Back to List", "Uploaded")
</p>