@model IEnumerable<WebEnterprise.Models.ContentAssign>
@{
    ViewBag.Title = "ExceptionalReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExceptionalReports</h2>

@using (Html.BeginForm("DownloadFile", "Content", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId" />
    <input type="submit" id="btnDownload" value="Download" style="display:none" />
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Content.Data2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content.CTName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content.Name)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Content.CTDescription)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Content.Student)
        </td>
        <th>

            @Html.DisplayNameFor(model => model.MarketingCoordinator.MCName)
        </th>


        <th style="width:80px">Download</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Content.Data2 != null)
                {
                    var base64 = Convert.ToBase64String(item.Content.Data2);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@imgsrc" width="150" height="200" />
                }
                else
                {
                    <img src="~/images/default.jpg"
                         style="max-width:100px;max-height:100px" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content.CTName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content.CTDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content.Student.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketingCoordinator.MCName)
            </td>


            <td>
                <a href="javascript:;" onclick="DownloadFile(@item.CTID)">Download</a>
            </td>

        </tr>
    }

</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function DownloadFile(fileId) {
        $("#hfFileId").val(fileId);
        $("#btnDownload")[0].click();
    };
</script>
