
@{
    ViewBag.Title = "ViewStatic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Static</h2>

<p>
    Number of contributions of IT 2021 :    @ViewBag.IT   
    <br>   Percentage of contributions by IT: @ViewBag.PerIT 
    <br> Number of contributors of IT 2021 : @ViewBag.StdIT    @*/   @ViewBag.CotIT (@ViewBag.perStdIT%)*@
    
</p>
<p>
    Number of contributions of Business 2021 :    @ViewBag.Business
    <br />Percentage of contributions by Business: @ViewBag.PerBusiness
    <br />Number of contributors of Business  2021 : @ViewBag.StdBusiness   @*/   @ViewBag.CotBusiness (@ViewBag.perStdBusiness%)*@
</p>

<p>
    Number of contributions of Design 2021 :    @ViewBag.Design
    <br /> Percentage of contributions by Design: @ViewBag.PerDesign
    <br />Number of contributors of Design 2021 : @ViewBag.StdDesign  @* /   @ViewBag.CotDesign (@ViewBag.perStdDesign%)*@
</p>

<p>
    Number of contributions of Sport 2021 :    @ViewBag.Sport
    <br />Percentage of contributions by Sport : @ViewBag.PerSport
    <br />Number of contributors of Sport 2021 : @ViewBag.StdSport   @*/   @ViewBag.CotSport (@ViewBag.perStdSport%)*@
</p>
</p>
<p>Total contributions 2021:    @ViewBag.Total</p>
<p>Total contributors 2021 :    @ViewBag.TotalCTor</p>


