@model IEnumerable<WebEnterprise.Models.CTTag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CTTag1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTTagDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CTTag1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTTagDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CTTagID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CTTagID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CTTagID })
        </td>
    </tr>
}

</table>
